:root {
    --black-square: #d14444;
    --white-square: #f1f1f1;
    --black-piece: #292929;
    --white-piece: #ddd;
    --black-piece-outer: #1d1d1d;
    --white-piece-outer: #ccc;
    --prediction-outer: #ebe84d;
    
    --hint: #00000033;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(images/back.jpg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

i {
    margin-right: 1vh;
    
    transition: margin 0.3s;
    
    font-size: 3.6vh;
    line-height: 1;
    color: #EB4D4D;
}

#gameInterface {
    position: absolute;
    overflow: hidden;

    width: 120vh;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: #f1f1f1;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

.menu {
    position: relative;
    float: right;

    height: 80vh;
    width: 40vh;
}

.player-score {
    position: absolute;

    right: 50%;

    transform: translateX(50%);
    font-size: 8vh;
    font-weight: 100;

    color: #EB4D4D;
}

#score-black {
    top: 5vh;
}

#score-white {
    bottom: 5vh;
}

.player-name {
    position: absolute;

    right: 50%;

    transform: translateX(50%);
    text-transform: uppercase;
    font-size: 3.1vh;
    font-weight: 300;

    letter-spacing: 2px;
}

#player-black {
    top: 16vh;
}

#player-white {
    bottom: 16vh;
}

.player-name.active::after {
    content: "\2022";
    font-size: 4.5vh;
    position: absolute;
    color: #EB4D4D;
    top: -1.2vh;
    right: -3.3vh;
}

.btn-newgame {
    position: absolute;

    right: 50%;
    top: 50%;

    width: 100%;

    transform: translate(50%, -50%);
    transition: background-color 0.3s, color 0.3s;

    text-transform: uppercase;
    font-size: 3.6vh;
    font-weight: 300;
    font-family: Lato;

    letter-spacing: 2px;

    color: #555;
}

.btn-newgame:hover { font-weight: 600; }
.btn-newgame:hover i { margin-right: 2vh; }

.table {
    float: left;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

.square {
    width: 10vh;
    height: 10vh;

    float: left;

    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    user-select: none;
}

.square.white {
    background-color: var(--white-square);
}

.square.black {
    background-color: var(--black-square);
}

.piece {
    width: 8.5vh;
    height: 8.5vh;

    border-radius: 50%;
    box-shadow: 3px 3px 25px #000000e0;

    user-select: none;
}

.piece.black {
    background-color: var(--black-piece);
    border: 1.5vh solid var(--black-piece-outer);
}

.piece.white {
    background-color: var(--white-piece);
    border: 1.5vh solid var(--white-piece-outer);
}

.prediction {
    content: "";

    width: 10vh;
    height: 10vh;
    
    background-color: transparent;
    border-radius: 50%;
}

.prediction::before {
    content: "";
    display: block;
    position: relative;

    width: 3.5vh;
    height: 3.5vh;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: var(--hint);
    border-radius: 50%;
}


.clone {
    pointer-events: none;
}